.browserupgrade {
  margin: 0.2em 0;
  background: #111111;
  color: #ffffff;
  padding: 0.2em 0;
}

body {
  background: #ffffff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #1f1f1f;
  line-height: 1.2;
}

.g-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0;
  z-index: 49;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__mob {
    display: none;
  }
  &__text {
    display: none;
  }
  &__logo {
    display: flex;
    align-items: center;
    position: relative;
    img,
    svg {
      display: block;
      max-width: 120px;
      max-height: 90px;
    }
    &-text {
      display: inline-block;
      margin: 0 0 0 35px;
      color: #1f1f1f;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      background: linear-gradient(
        90deg,
        rgba(255, 87, 0, 1) 0%,
        rgba(0, 13, 22, 1) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      b,
      strong {
        color: #f78705;
        font-weight: bold;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      position: relative;
      a {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 8px 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #1f1f1f;
        text-align: center;
        img,
        svg {
          display: block;
          max-width: 13px;
          max-height: 13px;
          margin-right: 8px;
          transition: all 0.2s ease-out;
        }
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #f78705;
          text-decoration: none;
        }
      }
      &:last-child {
        a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-left: 25px;
          border: 2px solid #f78705;
          border-radius: 999rem;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            img,
            svg {
              filter: brightness(0) invert(1);
            }
            background: #f78705;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.g-home-top {
  display: block;
  position: relative;
  width: 100%;
  padding: 205px 0;
  background: url("../images/home_top_bg.jpg") no-repeat center bottom;
  background-size: cover;
  &__title {
    display: block;
    position: relative;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #f78705;
    margin: 90px 0 0 0;
    padding: 16px 23px 16px 33px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 7px 33px rgba(0, 0, 0, 0.25);
    border-radius: 999rem;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    img,
    svg {
      display: block;
      max-width: 28px;
      max-height: 14px;
      margin: 0 0 0 30px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      background: #f78705;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.g-home-cities {
  display: block;
  position: relative;
  padding: 55px 0 30px 0;
  &__title {
    display: block;
    margin: 5px 0 0 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__search {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    &-input {
      display: inline-block;
      flex: 1 1 auto;
      margin: 0;
      padding: 16px 8px 16px 70px;
      border: 2px solid rgba(31, 31, 31, 0.5);
      outline: none;
      border-radius: 999rem 0 0 999rem;
      background: url("../images/icon_search.svg") no-repeat left 20px center;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #1f1f1f;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #f78705;
        text-decoration: none;
      }
    }
    &-button {
      display: inline-block;
      position: relative;
      padding: 16px 60px;
      border: 0;
      outline: none;
      background: #f78705;
      border-radius: 0px 999rem 999rem 0px;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #f78705;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__cards {
    display: block;
    position: relative;
    padding-top: 70px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    &__letter {
      display: block;
      margin: 0 0 16px 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 105%;
      letter-spacing: -0.015em;
      color: #f78705;
    }
    &__city {
      display: block;
      margin: 0 0 12px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #1f1f1f;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f78705;
        text-decoration: none;
      }
    }
  }
}

.g-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 135px 0 80px 0;
  background: url("../images/home_seo_bg.jpg") no-repeat top center;
  background-size: cover;
  &__subtitle {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__title {
    display: block;
    margin: 0 0 50px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: #1f1f1f;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1f1f1f;
    p {
      display: block;
      margin: 0 0 10px 0;
    }
    ul {
      display: block;
      position: relative;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin: 0 0 10px 0;
        padding-left: 30px;
        &:before {
          display: block;
          position: absolute;
          content: "";
          left: 10px;
          top: 8px;
          width: 7px;
          height: 7px;
          border-radius: 999rem;
          background: #f78705;
        }
      }
    }
  }
}

.g-main {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.g-page {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0 40px 0;
  background-size: cover;
  background-position: center center;
  &__title {
    display: block;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #ffffff;
    text-align: center;
  }
  &__text {
    display: block;
    position: relative;
    max-width: 770px;
    margin: 40px 0 50px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #1f1f1f;
  }
}

.g-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #f78705;
  text-align: center;
  li {
    display: inline-block;
    a {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f78705;
        text-decoration: none;
      }
    }
  }
}

.g-categories-card {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto 30px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07), 0px 4px 23px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 250px;
    padding: 25px 30px;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
  }
  &__title {
    display: block;
    margin: 20px 0 0 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #ffffff;
  }
  &__icon {
    display: block;
    max-width: 40px;
    max-height: 40px;
  }
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(1.025);
    box-shadow: none;
    text-decoration: none;
  }
}

.g-aside {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px;
  background: #eaeef1;
  border-radius: 20px;
  &__title {
    display: block;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__subtitle {
    display: block;
    margin: 30px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #1f1f1f;
  }
  &__checkbox {
    display: block;
    position: relative;
    width: 100%;
    margin: 18px 0 0 0;
    padding: 0;
    cursor: pointer;
    input {
      position: absolute;
      width: 0px;
      height: 0px;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/icon_checkbox_checked.svg") no-repeat left
          center !important;
      }
    }
    & > div {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      padding-left: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #1f1f1f;
      background: url("../images/icon_checkbox.svg") no-repeat left center;
      img,
      svg {
        display: block;
        max-width: 28px;
        max-height: 28px;
        margin-right: 10px;
      }
    }
  }
  &__radio {
    display: block;
    position: relative;
    width: 100%;
    margin: 18px 0 0 0;
    padding: 0;
    cursor: pointer;
    input {
      position: absolute;
      width: 0px;
      height: 0px;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/icon_radio_checked.svg") no-repeat left
          center !important;
      }
    }
    & > div {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      padding-left: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #1f1f1f;
      background: url("../images/icon_radio.svg") no-repeat left center;
      img,
      svg {
        display: block;
        max-width: 28px;
        max-height: 28px;
        margin-right: 10px;
      }
    }
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 44px 0 0 0;
    padding: 16px;
    border: 0;
    outline: none;
    background: #f78705;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 7px 33px rgba(0, 0, 0, 0.25);
    border-radius: 999rem;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    position: relative;
    width: 100%;
    margin: 20px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #1f1f1f;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f78705;
      text-decoration: none;
    }
  }
}

.br-widget {
  a {
    margin-right: 30px !important;
  }
}

.br-theme-fontawesome-stars-o {
  font: normal normal normal 28px/1 FontAwesome;
}

.br-active {
  &:after {
    color: #f78705 !important;
  }
}

.br-theme-fontawesome-stars-o .br-widget a:after {
  color: #000000;
}

.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
  color: #f78705;
}

.g-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 160px 0 100px 0;
  background: #eaeef1 url("../images/features_bg_clouds.png") no-repeat center
    top -65px;
  background-size: 100% auto;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    z-index: 1;
    pointer-events: none;
  }
  &__subtitle {
    display: block;
    position: relative;
    z-index: 3;
    margin: 0 0 10px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__title {
    display: block;
    position: relative;
    z-index: 3;
    margin: 0 0 20px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__text {
    display: block;
    position: relative;
    z-index: 3;
    margin: 0 0 55px 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #1f1f1f;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 40px 30px 20px 30px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07),
      0px 4px 23px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    &__image {
      display: flex;
      position: relative;
      width: 100%;
      height: 90px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 60px;
      }
    }
    &__title {
      display: block;
      height: 32px;
      overflow: hidden;
      margin: 0;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 105%;
      letter-spacing: -0.015em;
      color: #1f1f1f;
    }
    &__text {
      display: block;
      height: 66px;
      overflow: hidden;
      margin: 19px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #1f1f1f;
    }
  }
}

.g-category-card {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto 30px auto;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07), 0px 4px 23px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  &__image {
    display: block;
    position: relative;
    width: 100%;
    height: 230px;
    padding: 30px;
    border-radius: 20px 20px 0 0;
    background-position: center center;
    background-size: cover;
    img,
    svg {
      display: block;
      max-width: 40px;
      max-height: 40px;
    }
  }
  &__content {
    display: block;
    position: relative;
    padding: 30px;
  }
  &__title {
    display: block;
    height: 62px;
    overflow: hidden;
    margin: 15px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__text {
    display: block;
    height: 44px;
    overflow: hidden;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1f1f1f;
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #f78705;
    text-decoration: underline;
    img,
    svg {
      display: block;
      max-width: 20px;
      max-height: 10px;
      margin-left: 8px;
      transition: all 0.2s ease-out;
    }
  }
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    .g-category-card__link {
      text-decoration: none;
    }
    box-shadow: none;
    text-decoration: none;
  }
}

.g-everyone {
  display: block;
  position: relative;
  width: 100%;
  padding: 120px 0 100px 0;
  background: url("../images/everyone_bg.jpg") no-repeat top center;
  background-size: cover;
  &__subtitle {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__title {
    display: block;
    margin: 0 0 50px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: #1f1f1f;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1f1f1f;
    p {
      display: block;
      margin: 0 0 10px 0;
    }
    ul {
      display: block;
      position: relative;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin: 0 0 10px 0;
        padding-left: 30px;
        &:before {
          display: block;
          position: absolute;
          content: "";
          left: 10px;
          top: 8px;
          width: 7px;
          height: 7px;
          border-radius: 999rem;
          background: #f78705;
        }
      }
    }
  }
}

.g-item {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center bottom;
  &:after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 434px;
    bottom: -273px;
    left: 0;
    background: url("../images/item_clouds_bg.png") no-repeat center top;
    background-size: cover;
    z-index: 3;
  }
  &:before {
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    z-index: 1;
    pointer-events: none;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 0 150px 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 52.09%,
        rgba(0, 0, 0, 0.4) 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  &__title {
    display: block;
    margin: 100px 0 0 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #ffffff;
    text-align: center;
  }
  &__text {
    display: block;
    position: relative;
    max-width: 770px;
    margin: 20px auto 70px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
  }
  &__subtitle {
    display: block;
    margin: 0 0 12px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
  }
  &__stars {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    img,
    svg {
      display: block;
      max-width: 19px;
      margin-right: 8px;
    }
  }
  &__age {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #f78705;
  }
  &__link {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    padding: 12px 32px;
    border: 2px solid #f78705;
    outline: none;
    background: transparent;
    border-radius: 999rem;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #f78705;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 14px 51px;
    border: 0;
    outline: none;
    background: #f78705;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 7px 33px rgba(0, 0, 0, 0.25);
    border-radius: 999rem;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.g-article {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 55px 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    position: relative;
    margin: 0 0 16px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    display: block;
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 22px;
  }
  ul {
    display: block;
    position: relative;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 10px 0;
      padding-left: 30px;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 10px;
        top: 8px;
        width: 7px;
        height: 7px;
        border-radius: 999rem;
        background: #f78705;
      }
    }
  }
  .table > :not(:first-child) {
    border: 0;
  }
  .table {
    background: #eaeef1;
    border-radius: 20px;
    thead {
      th {
        &:first-child {
          border-radius: 20px 0 0 20px;
        }
        &:last-child {
          border-radius: 0 20px 20px 0;
        }
      }
    }
    tr {
      border: 0;
      &:last-child {
        td {
          border: 0 !important;
        }
      }
    }
    th {
      padding: 16px 12px;
      border: 0;
      background: #f78705;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
    }
    td {
      padding: 16px 12px;
      border: 0;
      border-bottom: 1px solid rgba(31, 31, 31, 0.5);
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #1f1f1f;
    }
  }
}

.g-order {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px;
  background: #eaeef1;
  border-radius: 20px;
  &_page {
    margin: 100px 0;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 16px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1f1f1f;
  }
  &__info {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1f1f1f;
    opacity: 0.5;
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 23px 0;
    padding: 16px 32px;
    background: #ffffff;
    border: 1px solid #aeaeae;
    border-radius: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #1f1f1f;
  }
  ::placeholder {
    color: #1f1f1f;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 16px;
    border: 0;
    outline: none;
    background: #f78705;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 7px 33px rgba(0, 0, 0, 0.25);
    border-radius: 999rem;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.g-gallery {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 50px 0;
  &__title {
    display: block;
    margin: 0 0 30px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 180px;
    margin-bottom: 65px;
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    transform: translateY(-30px);
    border-radius: 999rem;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 7px 33px rgba(0, 0, 0, 0.25);
    img,
    svg {
      display: block;
      max-width: 20px;
      max-height: 20px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
        0px 7px 33px rgba(0, 0, 0, 0.25);
      background: #f78705;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 8px !important;
    background: #1f1f1f;
    opacity: 0.2;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #f78705;
  }
}

.g-video {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0;
  &__title {
    display: block;
    margin: 0 0 30px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 65px;
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 480px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      border-radius: 10px;
      img,
      svg {
        display: block;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          transform: scale(0.9);
        }
        text-decoration: none;
      }
    }
  }
  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    transform: translateY(-30px);
    border-radius: 999rem;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 7px 33px rgba(0, 0, 0, 0.25);
    img,
    svg {
      display: block;
      max-width: 20px;
      max-height: 20px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
        0px 7px 33px rgba(0, 0, 0, 0.25);
      background: #f78705;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 8px !important;
    background: #1f1f1f;
    opacity: 0.2;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #f78705;
  }
}

.g-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 60px 0;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
  }
  &__title {
    display: block;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 105%;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 14px 40px;
    border: 2px solid #f78705;
    outline: none;
    background: transparent;
    border-radius: 999rem;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #1f1f1f;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #f78705;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 35px 0 40px 0;
    border-bottom: 1px solid rgba(31, 31, 31, 0.5);
    &__row {
      display: flex;
      align-items: flex-start;
      position: relative;
      width: 100%;
    }
    &__image {
      display: block;
      flex: 0 0 56px;
      height: 56px;
      margin-right: 16px;
      border-radius: 999rem;
      background-position: center center;
      background-size: cover;
    }
    &__date {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #1f1f1f;
      opacity: 0.5;
    }
    &__name {
      display: block;
      margin: 2px 0 16px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #1f1f1f;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #1f1f1f;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.g-partners {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 120px;
  padding: 50px;
  background: #eaeef1;
  border-radius: 20px;
  &__info {
    display: block;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1f1f1f;
    opacity: 0.5;
    text-align: center;
  }
  select {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 16px 23px;
    background: #ffffff url("../images/icon_arrow_down_dark.svg") no-repeat
      right 25px center;
    border: 1px solid #aeaeae;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: rgba(31, 31, 31, 0.5);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  /* For IE <= 11 */
  select::-ms-expand {
    display: none;
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 16px 23px;
    background: #ffffff;
    border: 1px solid #aeaeae;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #1f1f1f;
  }
  textarea {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 16px 23px;
    background: #ffffff;
    border: 1px solid #aeaeae;
    border-radius: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #1f1f1f;
  }
  ::placeholder {
    color: rgba(31, 31, 31, 0.5);
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 16px;
    border: 0;
    outline: none;
    background: #f78705;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 7px 33px rgba(0, 0, 0, 0.25);
    border-radius: 999rem;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .br-theme-fontawesome-stars-o .br-widget a {
    display: inline-block;
    margin: 15px 15px 15px 0 !important;
    font: normal normal normal 26px/1 FontAwesome;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .g-home-top {
    margin-top: -130px;
  }
  .g-everyone {
    position: relative;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      );
      z-index: 1;
      pointer-events: none;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: url("../images/features_bg_clouds.png") no-repeat center
        bottom;
      background-size: cover;
      z-index: 1;
      pointer-events: none;
    }
  }
}

@media (min-width: 1600px) {
  .g-item:after {
    bottom: -200px;
  }
}

@media (max-width: 1199px) {
  .g-header__logo-text {
    display: none;
  }
  .g-home-top {
    padding: 160px 0 200px;
    background: url("../images/home_top_bg_mob.jpg") no-repeat center bottom;
  }
  .g-home-top__title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 105%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #1f1f1f;
  }
  .g-header__nav {
    padding-top: 60px;
    li {
      display: block;
      width: 100%;
      a {
        display: block;
        width: 100%;
        padding: 12px 6px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
      }
    }
  }
  .g-header__nav li:last-child a {
    width: 100%;
    margin-left: 0;
    margin-top: 35px;
    padding: 14px 6px;
  }
  .g-home-cities__search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 30px 38px;
    border-radius: 999rem;
    background: #f78705 url("../images/icon_search_light.svg") no-repeat center
      center;
    font-size: 0px;
    line-height: 0px;
  }
  .g-home-cities__search-input {
    width: 100%;
    padding: 16px 90px 16px 25px;
    border-radius: 999rem;
    background: #ffffff;
    font-size: 20px;
    line-height: 27px;
  }
  .g-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 0;
    &_active {
      background: #ffffff;
    }
  }
  .g-header__nav {
    display: none;
    width: 100%;
  }
  .g-header__mob {
    display: block;
    position: absolute;
    top: 16px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: url("../images/icon_nav.svg") no-repeat center center;
    background-size: contain;
    &_active {
      background: url("../images/icon_nav_close.svg") no-repeat center center !important;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f78705;
      text-decoration: none;
    }
  }
  .g-header__text {
    position: relative;
    width: 100%;
    margin: 45px 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 117.18%;
    text-align: center;
    text-transform: uppercase;
    color: #013b5b;
  }
  .g-home-top__button {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 190px 0 0 0;
    padding: 0;
    background: transparent;
    box-shadow: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    text-transform: none;
    text-align: center;
    img,
    svg {
      margin: 8px 0 0 0;
    }
  }
  .g-home-cities {
    padding: 0 0 30px 0;
    &__title {
      margin: 0 0 25px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 105%;
      letter-spacing: -0.015em;
      color: #1f1f1f;
    }
  }
  .g-home-cities__cards {
    height: 510px;
    margin: 20px 0 0 0;
    padding: 30px;
    background: #eaeef1;
    border-radius: 30px;
  }
  .simplebar-track {
    width: 6px !important;
    top: 30px !important;
    bottom: 30px !important;
    right: 20px !important;
    padding: 0;
    background: #ffffff;
    border-radius: 999rem;
  }
  .simplebar-scrollbar {
    width: 6px !important;
    border-radius: 999rem;
    background: #f78705 !important;
    &:before,
    &:after {
      display: none;
    }
  }
  .g-home-cities {
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 222px;
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 0)
        ),
        url("../images/home_seo_clouds.png") no-repeat center bottom;
      background-size: cover;
      pointer-events: none;
      z-index: 3;
    }
  }
  .g-home-seo {
    position: relative;
    margin-top: 300px;
    padding: 45px 0;
    background: #e7e0d9;
    &:before {
      display: block;
      position: absolute;
      bottom: 100%;
      content: "";
      width: 100%;
      height: 228px;
      background: url("../images/home_seo_bg_mob.jpg") no-repeat center top;
      background-size: cover;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: -230px;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      );
      z-index: 1;
      pointer-events: none;
    }
    &__subtitle {
      margin: 0 0 15px 0;
      font-size: 20px;
      line-height: 105%;
    }
    &__title {
      display: block;
      margin: 0 0 35px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 105%;
    }
  }
  .g-main {
    padding-top: 135px;
  }
  .g-page__title {
    font-size: 40px;
    line-height: 105%;
  }
  .g-page__text {
    margin: 30px 0;
    font-size: 16px;
    line-height: 22px;
  }
  .g-mob-first {
    order: -1;
  }
  .g-aside {
    margin-bottom: 50px;
    padding: 30px;
  }
  .g-aside__title {
    font-size: 20px;
    line-height: 105%;
    br {
      display: none;
    }
  }
  .g-aside__subtitle {
    font-size: 20px;
    line-height: 27px;
  }
  .g-categories-card {
    margin-bottom: 20px;
  }
  .g-categories-card__content {
    padding: 20px;
    background-position: right center;
  }
  .g-categories-card__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 105%;
    letter-spacing: -0.015em;
  }
  .g-features {
    padding: 100px 0 60px 0;
    background-size: 100% auto;
    background-position: center top 0px;
    &__subtitle {
      position: relative;
      z-index: 3;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 105%;
    }
    &__title {
      position: relative;
      z-index: 3;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 105%;
    }
    &__text {
      position: relative;
      z-index: 3;
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 22px;
    }
  }
  .g-features-card {
    margin-bottom: 20px;
    padding: 30px 6px 30px 30px;
    &__image {
      height: 80px;
    }
    &__text {
      height: 26px;
      font-size: 25px;
      line-height: 105%;
    }
    &__text {
      margin-top: 6px;
      height: 55px;
      font-size: 14px;
      line-height: 19px;
    }
  }
  .g-category-card__image {
    height: 110px;
    padding: 10px;
  }
  .g-category-card__content {
    padding: 15px 20px;
  }
  .g-category-card__stars {
    img,
    svg {
      display: inline-block;
      max-width: 14px;
    }
  }
  .g-category-card {
    margin-bottom: 20px;
    &__title {
      height: 34px;
      margin: 10px 0 0 0;
      font-size: 16px;
      line-height: 105%;
      letter-spacing: -0.015em;
    }
    &__text {
      height: 95px;
      margin-top: 6px;
      font-size: 14px;
      line-height: 19px;
    }
  }
  .g-category-card__link {
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
  }
  .g-everyone {
    position: relative;
    padding: 0 0 60px 0;
    background: #a7c4e5;
    &:before {
      display: block;
      position: relative;
      bottom: 100%;
      content: "";
      width: 100%;
      height: 450px;
      margin-bottom: 30px;
      background: url("../images/everyone_bg_mob.jpg") no-repeat center bottom;
      background-size: cover;
    }
    &__subtitle {
      margin: 0 0 15px 0;
      font-size: 20px;
      line-height: 105%;
    }
    &__title {
      display: block;
      margin: 0 0 35px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 105%;
    }
  }
  .g-item__title {
    margin-top: 15px;
    font-size: 40px;
    line-height: 105%;
    text-align: left;
  }
  .g-item__text {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .g-item__stars {
    margin-bottom: 24px;
  }
  .g-item__age {
    margin-bottom: 24px;
  }
  .g-item__link {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    z-index: 4;
  }
  .g-item__button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    z-index: 4;
  }
  .g-item__content {
    padding-bottom: 30px;
  }
  .g-article {
    padding: 30px 0;
  }
  .g-order {
    padding: 20px 30px;
  }
  .g-order__text {
    margin-bottom: 25px;
  }
  .g-order-last {
    order: 999;
  }
  .g-order__info {
    margin-top: 25px;
    text-align: center;
  }
  .g-gallery__cards {
    overflow: visible !important;
  }
  .g-gallery__prev,
  .g-gallery__next {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 5;
  }
  .g-gallery__prev {
    left: -10px;
  }
  .g-gallery__next {
    right: -10px;
  }
  .g-gallery .swiper-pagination {
    display: none;
  }
  .g-video .swiper-pagination {
    display: none;
  }
  .g-video__prev,
  .g-video__next {
    position: absolute;
    top: 50%;
    transform: translateY(-130%);
    z-index: 5;
  }
  .g-video__prev {
    left: -10px;
  }
  .g-video__next {
    right: -10px;
  }
  .g-gallery-card {
    display: inline-block;
  }
  .g-gallery-card {
    margin: 0;
  }
  .g-order_page {
    margin: 65px 0;
  }
  .g-reviews__button {
    width: 100%;
    margin: 25px 0;
  }
  .g-reviews {
    padding: 0;
  }
  .g-reviews-card__text {
    margin-top: 20px;
  }
  .g-partners {
    position: relative;
    margin: 0;
    padding: 50px 0;
    border-radius: 0;
    input,
    textarea {
      margin-bottom: 20px;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      right: 100%;
      top: 0;
      width: 50vw;
      height: 100%;
      background: #eaeef1;
      pointer-events: none;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 100%;
      top: 0;
      width: 50vw;
      height: 100%;
      background: #eaeef1;
      pointer-events: none;
    }
  }
  .g-everyone {
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: -5px;
      left: 0;
      width: 100%;
      height: 100px;
      background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 0)
        ),
        url("../images/features_bg_clouds.png") no-repeat bottom center;
      background-size: cover;
      z-index: 1;
      pointer-events: none;
    }
  }
  .g-partners {
    .br-theme-fontawesome-stars-o {
      padding-bottom: 50px !important;
    }
  }
}

@media (max-width: 768px) {
  .g-gallery__cards {
    max-width: 300px;
    margin-left: 0;
    margin-right: 0;
  }
  .g-categories__cards {
    .g-categories-card {
      background-position: right center;
    }
    & > div:nth-child(1) {
      .g-categories-card {
        background-image: url("../images/categories_mob_1.jpg");
      }
    }
    & > div:nth-child(2) {
      .g-categories-card {
        background-image: url("../images/categories_mob_2.jpg");
      }
    }
    & > div:nth-child(3) {
      .g-categories-card {
        background-image: url("../images/categories_mob_3.jpg");
      }
    }
    & > div:nth-child(4) {
      .g-categories-card {
        background-image: url("../images/categories_mob_4.jpg");
      }
    }
    & > div:nth-child(5) {
      .g-categories-card {
        background-image: url("../images/categories_mob_5.jpg");
      }
    }
    & > div:nth-child(6) {
      .g-categories-card {
        background-image: url("../images/categories_mob_6.jpg");
      }
    }
    & > div:nth-child(7) {
      .g-categories-card {
        background-image: url("../images/categories_mob_7.jpg");
      }
    }
    & > div:nth-child(8) {
      .g-categories-card {
        background-image: url("../images/categories_mob_8.jpg");
      }
    }
    & > div:nth-child(9) {
      .g-categories-card {
        background-image: url("../images/categories_mob_9.jpg");
      }
    }
    & > div:nth-child(10) {
      .g-categories-card {
        background-image: url("../images/categories_mob_10.jpg");
      }
    }
    & > div:nth-child(11) {
      .g-categories-card {
        background-image: url("../images/categories_mob_11.jpg");
      }
    }
    & > div:nth-child(12) {
      .g-categories-card {
        background-image: url("../images/categories_mob_12.jpg");
      }
    }
    & > div:nth-child(13) {
      .g-categories-card {
        background-image: url("../images/categories_mob_13.jpg");
      }
    }
    & > div:nth-child(14) {
      .g-categories-card {
        background-image: url("../images/categories_mob_14.jpg");
      }
    }
    & > div:nth-child(15) {
      .g-categories-card {
        background-image: url("../images/categories_mob_15.jpg");
      }
    }
    & > div:nth-child(16) {
      .g-categories-card {
        background-image: url("../images/categories_mob_16.jpg");
      }
    }
  }
}
